lib-kv@git+ssh://git@github.com/Cinnamon/lib-kv-graph.git@master
tensorboardX
scikit-learn
pandas
opencv-python==4.1.1.26
networkx
matplotlib
tensorboard
jupyter
ipywidgets
sentence-transformers
seaborn
